-i https://pypi.org/simple
absl-py==2.0.0; python_version >= '3.7'
aiohttp==3.9.1; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
apscheduler==3.10.4; python_version >= '3.6'
astunparse==1.6.3
attrs==23.1.0; python_version >= '3.7'
autobahn==23.6.2; python_version >= '3.9'
automat==22.10.0
binance-connector==2.0.0; python_version >= '3.6'
binance-futures-connector==3.3.1; python_version >= '3.7'
boto3==1.34.0; python_version >= '3.8'
botocore==1.34.0; python_version >= '3.8'
cachetools==5.3.2; python_version >= '3.7'
certifi==2023.11.17; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
constantly==23.10.4; python_version >= '3.8'
cryptography==41.0.7; python_version >= '3.7'
flatbuffers==23.5.26
frozenlist==1.4.0; python_version >= '3.8'
gast==0.5.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-auth==2.25.2; python_version >= '3.7'
google-auth-oauthlib==1.2.0; python_version >= '3.6'
google-pasta==0.2.0
greenlet==3.0.2; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
grpcio==1.60.0; python_version >= '3.7'
h5py==3.10.0; python_version >= '3.8'
huobi-sdk==2.3.3
hyperlink==21.0.0
idna==3.6; python_version >= '3.5'
incremental==22.10.0
jmespath==1.0.1; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
keras==2.15.0; python_version >= '3.8'
libclang==16.0.6
markdown==3.5.1; python_version >= '3.8'
markupsafe==2.1.3; python_version >= '3.7'
ml-dtypes==0.2.0; python_version >= '3.7'
multidict==6.0.4; python_version >= '3.7'
numpy==1.26.2; python_version >= '3.9'
oauthlib==3.2.2; python_version >= '3.6'
opt-einsum==3.3.0; python_version >= '3.5'
packaging==23.2; python_version >= '3.7'
pandas==2.1.4; python_version >= '3.9'
protobuf==4.23.4; python_version >= '3.7'
pyasn1==0.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycparser==2.21
pycryptodome==3.19.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pyopenssl==23.3.0; python_version >= '3.7'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rsa==4.9; python_version >= '3.6' and python_version < '4'
s3transfer==0.9.0; python_version >= '3.8'
scikeras==0.12.0; python_full_version < '3.12.0' and python_full_version >= '3.8.0'
scikit-learn==1.3.2; python_version >= '3.8'
scipy==1.11.4; python_version >= '3.9'
service-identity==23.1.0; python_version >= '3.8'
setuptools==69.0.2; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlalchemy==2.0.23; python_version >= '3.7'
ta==0.11.0
tensorboard==2.15.1; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.15.0.post1; python_version >= '3.9'
tensorflow-estimator==2.15.0; python_version >= '3.7'
tensorflow-io-gcs-filesystem==0.34.0; python_version < '3.12' and python_version >= '3.7'
termcolor==2.4.0; python_version >= '3.8'
threadpoolctl==3.2.0; python_version >= '3.8'
twisted==23.10.0; python_full_version >= '3.8.0'
txaio==23.1.1; python_version >= '3.7'
typing-extensions==4.9.0; python_version >= '3.8'
tzdata==2023.3; python_version >= '2'
tzlocal==5.2; python_version >= '3.8'
urllib3==2.0.7; python_version >= '3.7'
websocket-client==0.59.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
werkzeug==3.0.1; python_version >= '3.8'
wheel==0.42.0; python_version >= '3.7'
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
yarl==1.9.4; python_version >= '3.7'
zope-interface==6.1; python_version >= '3.7'
